<!-- Block Start -->

{{ about_text_field }}
    <div class="h-screen w-full grid place-content-center text-center {{ if bg_colour }}bg-black text-white{{ else }}bg-white text-black{{ /if }}">
        <div class="container tracking-tighter space-y-10 js-text-reveal">
            <h2 class="">{{ about_text }}</h2>
        </div>
    </div>
{{ /about_text_field }}

  <!-- Block End -->
  <!-- Footer Start -->

  <div id="footer" class="w-full grid place-content-center text-center py-90 space-y-8 bg-black">
    <span class="js-text-reveal space-y-8"><h3 class="pb-5 !text-white">let’s talk</h3>
      <h2 class="!text-white">when it matters.</h2>
      <div><a href="mailto:hello@insanis.com.au" class="inline-block border-2 border-white rounded-full px-24 py-3"><h5 class="!text-white">hello@insanis.com.au</h5></a>
    </div></span>
  </div>

<!-- Footer End -->