<!-- Block Start -->

<div class="relative w-full overflow-hidden bg-black grid place-content-center text-center aspect-square md:aspect-auto md:h-screen">

  {{ if video_asset }}
    {{ video_asset }}
      <video 
        class="absolute inset-0 w-full h-full object-cover"
        autoplay
        muted
        loop
        playsinline
      >
        <source src="{{ url }}" type="video/mp4">
      </video>
    {{ /video_asset }}

  {{ elseif video_url }}
    <video 
      class="absolute inset-0 w-full h-full object-cover"
      autoplay
      muted
      loop
      playsinline
    >
      <source src="{{ video_url }}" type="video/mp4">
    </video>
  {{ /if }}

  <div class="relative z-10 px-6 js-text-reveal">
    {{ hero_text_field }}
      <h1 class="!text-white tracking-tighter">{{ hero_text }}</h1>
    {{ /hero_text_field }}
  </div>

</div>

<!-- Block End -->