  <!-- Block Start -->


   <div class="h-screen w-full bg-pink-200 grid content-center p-10">
  <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-0">
    {{ workshowcase }}
        <div class="w-full aspect-video bg-blue-300 grid content-end p-7">
          <h3 class="text-white !text-4xl/6 bg-red-900">{{category}}</h3>
          <h3 class="text-white !text-4xl/6 bg-red-900">{{client}}</h3>
          <h3 class="text-white !text-2xl/6 bg-red-900">{{title}}</h3>
        </div>
    {{ /workshowcase }}
  </div>
</div>

  <!-- Block End -->