<div class="space-y-15">

    <div class="w-full grid">
        <div>
            <img class="w-full aspect-square md:aspect-video object-cover" src="{{ glide :src="banner_image" fit="crop_focal" }}" alt="">
        </div>
        <div class="container absolute text-center place-self-center">
            <h2 class="!text-white !text-3xl md:!text-6xl/13 tracking-tighter !font-black w-full md:w-11/12 xl:w-9/12 place-self-center text-balance">
                {{ banner_header }}
            </h2>
        </div>
    </div>

    <div class="container">
        {{ content_field }}

        {{ if type == "copy" }}
            <div class="mx-4 my-20">
                <h2 class="!text-3xl xl:!text-5xl !font-black">{{ content_header }}</h2>
                <p>{{ content_copy }}</p>
            </div>
        {{ /if }}

        {{ if type == "assets" }}

            {{ if images }}
                <div class="photos-section mx-4 space-y-2">
                    <div class="grid grid-cols-1 md:grid-cols-2 w-full lg:w-9/12 gap-[20px] place-self-center items-center">
                        {{ images }}
                            <img
                                class="w-full rounded-lg"
                                src="{{ glide :src="url" fit="crop_focal" }}"
                                alt="{{ alt ?? title }}"
                            >
                        {{ /images }}
                    </div>
                </div>
            {{ /if }}

            {{ if video }}
                <div class="videos-section mt-4 mx-4">
                    <div class="w-full place-self-center space-y-6 mb-40 md:mb-70">
                        {{ video }}
                            <video class="w-full rounded-lg" controls>
                                <source src="{{ url }}">
                                Your browser does not support the video tag.
                            </video>
                        {{ /video }}
                    </div>
                </div>
            {{ /if }}

        {{ /if }}

    {{ /content_field }}

    </div>
</div>