@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";
@import "./input.css";

@font-face {
  font-family: 'Daveway';
  src: url('/public/fonts/Daveway-Black.woff') format('woff');
  font-weight: 900;
  font-style: Black;
  font-display: swap;
}

@font-face {
  font-family: 'Daveway';
  src: url('/public/fonts/Daveway-SemiBold.woff') format('woff');
  font-weight: 800;
  font-style: semibold;
  font-display: swap;
}

@font-face {
  font-family: 'Daveway';
  src: url('/public/fonts/Daveway-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Daveway';
  src: url('/public/fonts/Daveway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Daveway';
  src: url('/public/fonts/Daveway-Light.woff') format('woff');
  font-weight: 300;
  font-style: Light;
  font-display: swap;
}


